In [1]:
import pandas as pd
import numpy as np

In [3]:
surveys = pd.read_csv('../data/StackOverflowDeveloperSurvey2018.csv', low_memory=False, usecols=['Country','Gender','OperatingSystem'])
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [4]:
surveys.Country.is_unique

False

In [9]:
surveys.Country.unique()[:10]

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria', 'India', 'Spain', 'Croatia', 'Netherlands', 'Israel'],
      dtype=object)

In [13]:
duplicatesKeepFirst = surveys['Country'].duplicated()
duplicatesKeepFirst

0        False
1        False
2        False
3         True
4        False
         ...
98850     True
98851     True
98852     True
98853     True
98854     True
Name: Country, Length: 98855, dtype: bool

In [12]:
surveys[~duplicatesKeepFirst]

                                     Country OperatingSystem  Gender
0                                      Kenya     Linux-based    Male
1                             United Kingdom     Linux-based    Male
2                              United States             NaN     NaN
4                               South Africa         Windows    Male
7                                    Nigeria         Windows  Female
...                                      ...             ...     ...
86051                                Eritrea     Linux-based    Male
89738  Democratic People's Republic of Korea             NaN     NaN
92028                               Djibouti             NaN     NaN
93487                                    NaN             NaN     NaN
96975                          Guinea-Bissau             NaN     NaN

[184 rows x 3 columns]

In [14]:
surveys.drop_duplicates(subset=['Country', 'OperatingSystem'], inplace=True)

In [ ]:
surveys.where