In [2]:
import pandas as pd
import numpy as np

In [3]:
fuel = pd.read_csv('../data/fuel.csv', low_memory=False, usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'], index_col='Vehicle ID')
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [4]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int64
 1   Make                31684 non-null  object
 2   Model               31683 non-null  object
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 8.9 MB

In [5]:
fuel.shape

(31684, 6)

In [6]:
fuel.sort_index()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
1,1985,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
2,1985,Bertone,X1/9,Two Seaters,Regular,22.0
3,1985,Chevrolet,Corvette,Two Seaters,Regular,17.0
4,1985,Chevrolet,Corvette,Two Seaters,Regular,17.0
5,1985,Nissan,300ZX,Two Seaters,Regular,16.0
...,...,...,...,...,...,...
34762,2011,Lincoln,Navigator Limo. 2WD FFV,Sport Utility Vehicle - 2WD,Gasoline or E85,13.0
34763,2011,Jeep,Grand Cherokee 4WD,Sport Utility Vehicle - 4WD,Regular,18.0
34764,2011,Kia,Sportage 4WD,Sport Utility Vehicle - 4WD,Regular,23.0
34765,2011,Lincoln,MKT Hearse AWD,Sport Utility Vehicle - 4WD,Regular,16.0
34766,2011,Nissan,Murano CrossCabriolet,Sport Utility Vehicle - 4WD,Premium,19.0

In [15]:
fuel['Year'] = fuel['Year'].astype('int')

In [16]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int64
 1   Make                31684 non-null  category
 2   Model               31683 non-null  category
 3   Class               31683 non-null  category
 4   Fuel Type           31683 non-null  category
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(4), float64(1), int64(1)
memory usage: 1.2 MB

In [12]:
fuel['Make'].value_counts()

Chevrolet              3389
Ford                   2721
Dodge                  2361
GMC                    2174
Toyota                 1599
                       ...
Mitsubish                 1
Goldacre                  1
Isis Imports Ltd          1
Fisker                    1
London Coach Co Inc       1
Name: Make, Length: 128, dtype: int64

In [13]:
fuel['Make'] = fuel['Make'].astype('category')
fuel['Model'] = fuel['Model'].astype('category')
fuel['Class'] = fuel['Class'].astype('category')
fuel['Fuel Type'] = fuel['Fuel Type'].astype('category')
fuel['Combined MPG (FT1)'] = fuel['Combined MPG (FT1)'].astype('float')

In [14]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int64
 1   Make                31684 non-null  category
 2   Model               31683 non-null  category
 3   Class               31683 non-null  category
 4   Fuel Type           31683 non-null  category
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(4), float64(1), int64(1)
memory usage: 1.2 MB