In [1]:
import pandas as pd
import numpy as np

In [9]:
fuel = pd.read_csv('../data/fuel.csv', usecols=['Vehicle ID','Year','Make','Model','Class', 'Combined MPG (FT1)','Fuel Type','Start Stop Technology'], low_memory=False)

In [14]:
listOfCars = ['Renault', 'Toyota','Ford']
isInList = fuel['Make'].isin(listOfCars)
isInList

0        False
1        False
2        False
3        False
4        False
         ...
31679    False
31680    False
31681    False
31682    False
31683    False
Name: Make, Length: 31684, dtype: bool

In [17]:
fuel[isInList]

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
668,27613,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,13.0,NaN
669,27616,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,11.0,NaN
670,27619,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,10.0,NaN
671,27622,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,11.0,NaN
672,28472,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,13.0,NaN
...,...,...,...,...,...,...,...,...
31266,31786,2012,Ford,Taurus AWD,Large Cars,Regular,20.0,NaN
31267,31784,2012,Ford,Taurus FWD,Large Cars,Regular,21.0,NaN
31268,31785,2012,Ford,Taurus FWD,Large Cars,Regular,22.0,NaN
31269,31458,2012,Ford,Transit Connect Van,Special Purpose Vehicle 2WD,Regular,23.0,NaN
31270,31460,2012,Ford,Transit Connect Wagon FWD,Special Purpose Vehicle 2WD,Regular,23.0,NaN

In [20]:
isNoStartStopDefined = fuel['Start Stop Technology'].isnull()
isNoStartStopDefined.head()

0    True
1    True
2    True
3    True
4    True
Name: Start Stop Technology, dtype: bool

In [21]:
fuel[isNoStartStopDefined]

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0,NaN
...,...,...,...,...,...,...,...,...
31679,32060,2012,Mitsubishi,Lancer,Compact Cars,Regular,25.0,NaN
31680,32063,2012,Mitsubishi,Lancer AWD,Compact Cars,Regular,25.0,NaN
31681,32065,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0,NaN
31682,32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0,NaN
31683,32106,2012,Mitsubish,NaN,NaN,NaN,NaN,NaN

In [23]:
isStartStopDefined = fuel['Start Stop Technology'].notnull()

In [24]:
fuel[isStartStopDefined]

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
16448,30976,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,55.0,N
16449,30977,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,28.0,N
16711,30975,1998,Honda,EV Plus,Compact Cars,Electricity,48.0,N
17323,30973,1999,Dodge,Caravan/Grand Caravan 2WD,Minivan - 2WD,Electricity,35.0,N
17433,30971,1999,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N
...,...,...,...,...,...,...,...,...
31525,31926,2012,Lexus,RX 450h,Sport Utility Vehicle - 2WD,Premium,29.0,Y
31526,31971,2012,Lexus,RX 450h AWD,Sport Utility Vehicle - 4WD,Premium,28.0,Y
31536,31395,2012,Lincoln,MKZ Hybrid FWD,Midsize Cars,Regular,38.0,Y
31623,31799,2012,Mercedes-Benz,S400 Hybrid,Large Cars,Premium,21.0,Y
31674,31673,2012,Mitsubishi,i-MiEV,Subcompact Cars,Electricity,112.0,N

In [ ]:
mpg50_60 = fuel['Combined MPG (FT1)'].betwe