In [1]:
import pandas as pd
import numpy as np

In [4]:
fuel = pd.read_csv('../data/fuel.csv', usecols=['Year','Make','Model','Range (FT1)','City Range (FT1)'], index_col=['Year','Make','Model'])
fuel.sort_index(inplace=True)
fuel.head()

                                   Range (FT1)  City Range (FT1)
Year Make       Model
1984 AM General DJ Po Vehicle 2WD          0.0               0.0
                DJ Po Vehicle 2WD          0.0               0.0
                FJ8c Post Office           0.0               0.0
                FJ8c Post Office           0.0               0.0
     Alfa Romeo GT V6 2.5                  0.0               0.0

In [6]:
fuel.loc[1984]

                              Range (FT1)  City Range (FT1)
Make       Model
AM General DJ Po Vehicle 2WD          0.0               0.0
           DJ Po Vehicle 2WD          0.0               0.0
           FJ8c Post Office           0.0               0.0
           FJ8c Post Office           0.0               0.0
Alfa Romeo GT V6 2.5                  0.0               0.0
...                                   ...               ...
Volvo      760 GLE                    0.0               0.0
           760 GLE                    0.0               0.0
           760 GLE                    0.0               0.0
           760 GLE                    0.0               0.0
           760 GLE                    0.0               0.0

[1964 rows x 2 columns]

In [8]:
fuel.loc[(1984,'Alfa Romeo')]

                    Range (FT1)  City Range (FT1)
Model
GT V6 2.5                   0.0               0.0
GT V6 2.5                   0.0               0.0
Spider Veloce 2000          0.0               0.0
Spider Veloce 2000          0.0               0.0

In [9]:
fuel.loc[(1984,'Alfa Romeo','Spider Veloce 2000'), 'Range (FT1)']

Year  Make        Model
1984  Alfa Romeo  Spider Veloce 2000    0.0
                  Spider Veloce 2000    0.0
Name: Range (FT1), dtype: float64

In [10]:
fuel_trans = fuel.transpose()

In [11]:
fuel_trans.loc['Range (FT1)']

Year  Make        Model
1984  AM General  DJ Po Vehicle 2WD     0.0
                  DJ Po Vehicle 2WD     0.0
                  FJ8c Post Office      0.0
                  FJ8c Post Office      0.0
      Alfa Romeo  GT V6 2.5             0.0
                                       ...
2012  Mitsubishi  Lancer                0.0
                  Lancer AWD            0.0
                  Lancer Evolution      0.0
                  Lancer Evolution      0.0
                  i-MiEV               62.0
Name: Range (FT1), Length: 31684, dtype: float64

In [12]:
fuel_trans.loc['Range (FT1)', (1984,'Alfa Romeo','Spider Veloce 2000')]

Year  Make        Model
1984  Alfa Romeo  Spider Veloce 2000    0.0
                  Spider Veloce 2000    0.0
Name: Range (FT1), dtype: float64