In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
import time

In [3]:
df = pd.read_csv('../data/marathon_results_2016.csv', index_col='Bib', usecols=['Bib','40K','Half','Pace','Age','M/F','Country','State','City'])

In [4]:
df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)
df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))
df.head()

,Age,M/F,City,State,Country,Half,40K,Pace,TotalSeconds,HalfSeconds
Bib,,,,,,,,,,
5,21,M,Addis Ababa,NaN,ETH,0 days 01:06:45,0 days 02:05:59,0:05:04,7559.0,4005.0
1,26,M,Ambo,NaN,ETH,0 days 01:06:46,0 days 02:05:59,0:05:06,7559.0,4006.0
6,31,M,Addis Ababa,NaN,ETH,0 days 01:06:44,0 days 02:06:47,0:05:07,7607.0,4004.0
11,33,M,Kitale,NaN,KEN,0 days 01:06:46,0 days 02:06:47,0:05:07,7607.0,4006.0
14,23,M,Eldoret,NaN,KEN,0 days 01:06:46,0 days 02:08:11,0:05:11,7691.0,4006.0

In [5]:
df = df.pivot_table(index="Age",columns="M/F",values="TotalSeconds").head()
df.head()

M/F             F             M
Age
18   16050.666667  14554.615385
19   15351.958333  12156.529412
20   13835.931818  12111.100000
21   14681.027027  12408.360465
22   14366.421053  11872.666667

In [9]:
df.reset_index(inplace=True)

In [12]:
df.melt(id_vars='Age').head()

   Age M/F         value
0   18   F  16050.666667
1   19   F  15351.958333
2   20   F  13835.931818
3   21   F  14681.027027
4   22   F  14366.421053

In [15]:
df.melt(id_vars='Age', value_name='TotalSeconds', var_name='Sex').head()

   Age Sex  TotalSeconds
0   18   F  16050.666667
1   19   F  15351.958333
2   20   F  13835.931818
3   21   F  14681.027027
4   22   F  14366.421053

In [17]:
df = pd.read_csv('../data/marathon_results_2016.csv',
                 index_col='Bib',
                 usecols=['Bib','40K','Half','Pace','Age','M/F','Country','State','City'])

df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)

df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))

df = df.pivot_table(index="Age",columns="M/F",values=["HalfSeconds","TotalSeconds"])
df.head()

     HalfSeconds               TotalSeconds
M/F            F            M             F             M
Age
18   7999.888889  7078.538462  16050.666667  14554.615385
19   7473.666667  5817.764706  15351.958333  12156.529412
20   6871.045455  5716.800000  13835.931818  12111.100000
21   7148.554054  5929.627907  14681.027027  12408.360465
22   7091.097744  5751.000000  14366.421053  11872.666667

In [18]:
df.reset_index(inplace=True)
df.head()

    Age  HalfSeconds               TotalSeconds
M/F                F            M             F             M
0    18  7999.888889  7078.538462  16050.666667  14554.615385
1    19  7473.666667  5817.764706  15351.958333  12156.529412
2    20  6871.045455  5716.800000  13835.931818  12111.100000
3    21  7148.554054  5929.627907  14681.027027  12408.360465
4    22  7091.097744  5751.000000  14366.421053  11872.666667

In [27]:
df.melt(id_vars='Age', value_vars=['HalfSeconds', 'TotalSeconds']).head()

KeyError: 'Age'

In [26]:
df.melt(id_vars='Age', value_vars=['HalfSeconds', 'TotalSeconds'], value_name='Time', ).head()
#df.head()

KeyError: 'Age'