In [1]:
import pandas as pd

In [2]:
fuel = pd.read_csv('../data/fuel.csv', low_memory=False, usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'])
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [3]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int64
 2   Make                31684 non-null  object
 3   Model               31683 non-null  object
 4   Class               31683 non-null  object
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.7+ MB

In [4]:
fuel.dtypes

Vehicle ID              int64
Year                    int64
Make                   object
Model                  object
Class                  object
Fuel Type              object
Combined MPG (FT1)    float64
dtype: object

In [6]:
fuel.dtypes.value_counts()

object     4
int64      2
float64    1
dtype: int64

In [9]:
fuel['Make'].value_counts().head(10)

Chevrolet        3389
Ford             2721
Dodge            2361
GMC              2174
Toyota           1599
BMW              1180
Nissan           1082
Mercedes-Benz     948
Mitsubishi        937
Pontiac           893
Name: Make, dtype: int64

In [11]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int64
 2   Make                31684 non-null  object
 3   Model               31683 non-null  object
 4   Class               31683 non-null  object
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.7+ MB

In [14]:
fuel.columns

Index(['Vehicle ID', 'Year', 'Make', 'Model', 'Class', 'Fuel Type',
       'Combined MPG (FT1)'],
      dtype='object')

In [16]:
fuel.values

array([[26587, 1984, 'Alfa Romeo', ..., 'Minicompact Cars', 'Regular',
        20.0],
       [27705, 1984, 'Alfa Romeo', ..., 'Minicompact Cars', 'Regular',
        20.0],
       [26561, 1984, 'Alfa Romeo', ..., 'Two Seaters', 'Regular', 21.0],
       ...,
       [32065, 2012, 'Mitsubishi', ..., 'Compact Cars', 'Premium', 19.0],
       [32064, 2012, 'Mitsubishi', ..., 'Compact Cars', 'Premium', 19.0],
       [32106, 2012, 'Mitsubish', ..., nan, nan, nan]], dtype=object)

In [18]:
fuel.axes

[RangeIndex(start=0, stop=31684, step=1),
 Index(['Vehicle ID', 'Year', 'Make', 'Model', 'Class', 'Fuel Type',
        'Combined MPG (FT1)'],
       dtype='object')]

In [22]:
fuel.set_index('Vehicle ID', inplace=True)

In [23]:
fuel.axes

[Int64Index([26587, 27705, 26561, 27681, 27550, 28426, 27549, 28425, 27593,
             28455,
             ...
             31673, 32062, 32059, 32061, 32058, 32060, 32063, 32065, 32064,
             32106],
            dtype='int64', name='Vehicle ID', length=31684),
 Index(['Year', 'Make', 'Model', 'Class', 'Fuel Type', 'Combined MPG (FT1)'], dtype='object')]

In [24]:
fuel

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
...,...,...,...,...,...,...
32060,2012,Mitsubishi,Lancer,Compact Cars,Regular,25.0
32063,2012,Mitsubishi,Lancer AWD,Compact Cars,Regular,25.0
32065,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0
32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0
32106,2012,Mitsubish,NaN,NaN,NaN,NaN

In [26]:
fuel.shape

(31684, 6)

In [27]:
fuel.count()

Year                  31684
Make                  31684
Model                 31683
Class                 31683
Fuel Type             31683
Combined MPG (FT1)    31683
dtype: int64