In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [6]:
numbers = [1,2,3,11,12,13]

In [9]:
numSeries = pd.Series(numbers)

In [10]:
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [11]:
numSeries > 10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [16]:
numSeries.where(numSeries > 10)

0     NaN
1     NaN
2     NaN
3    11.0
4    12.0
5    13.0
dtype: float64

In [21]:
numSeries.where(numSeries > 10, other=-1)   # other as a parameter to define which value will
                                            # be filled if condition won't be passed

0    -1.0
1    -1.0
2    -1.0
3    11.0
4    12.0
5    13.0
dtype: float64

In [22]:
numSeries = pd.Series(numbers)
numSeries.where(numSeries > 10, inplace=True)    # inplace parameter to define that changes will be done on object, without creation a copy
numSeries.dropna()

3    11.0
4    12.0
5    13.0
dtype: float64

In [24]:
numSeries = pd.Series(numbers)
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [26]:
numSeries.filter(items=[1,3,5])

1     2
3    11
5    13
dtype: int64

## Exercise 5

In [27]:
age_ranges = ['6', '7-14', '15-17', '18-24', '25-39', '40-59', '60']
accidents = [14, 334, 312, 5823, 9491, 7486, 4343]

In [31]:
incidents = pd.Series(accidents, age_ranges)
incidents

6          14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
60       4343
dtype: int64

In [37]:
#incidents.where(incidents > 1000)
incidents.where(incidents > 1000).dropna()

18-24    5823.0
25-39    9491.0
40-59    7486.0
60       4343.0
dtype: float64

In [40]:
incidents1000 = incidents.where(incidents > 1000).dropna()
incidents1000

18-24    5823.0
25-39    9491.0
40-59    7486.0
60       4343.0
dtype: float64

In [41]:
incidents

6          14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
60       4343
dtype: int64

In [45]:
incidents.filter(items=['18-24', '25-39', '40-59'])

18-24    5823
25-39    9491
40-59    7486
dtype: int64

In [50]:
incidents.where(incidents <= 1000, inplace=True)
incidents.dropna(inplace=True)
incidents

6         14.0
7-14     334.0
15-17    312.0
dtype: float64

## Best practices

In [51]:
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [56]:
# numSeries.where(numSeries > 10 and numSeries % 2 == 1)
# numSeries.where(numSeries > 10 % numSeries % 2 == 1)

In [58]:
numSeriesGreater10 = numSeries > 10
numSeriesGreater10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [60]:
numSeriesOdd = numSeries % 2 == 1
numSeriesOdd

0     True
1    False
2     True
3     True
4    False
5     True
dtype: bool

In [61]:
numSeries.where(numSeriesGreater10 & numSeriesOdd)

0     NaN
1     NaN
2     NaN
3    11.0
4     NaN
5    13.0
dtype: float64

In [62]:
numSeries.where(numSeriesGreater10 & numSeriesOdd).dropna()

3    11.0
5    13.0
dtype: float64

In [63]:
numSeries.between(3,12)

0    False
1    False
2     True
3     True
4     True
5    False
dtype: bool

## Exercise 6

In [64]:
nameList = ['Albania','Austria','Belarus','Belgium','Bulgaria','Croatia','Cyprus','Czech Republic','Denmark','Estonia','Finland','France','Germany','Greece','Hungary','Iceland','Ireland','Italy','Latvia','Lithuania','Luxembourg','Macedonia','Malta','Montenegro','Netherlands','Norway','Poland','Portugal','Romania','Russia','Serbia','Slovenia','Spain', 'Sweden','Switzerland','UnitedKingdom','Turkey','Ukraine']

In [65]:
energy2010List = [1947,8347,3564,8369,4560,3814,4623,6348,6328,6506,16483,7736,7264,5318,3876,51440,5911,5494,3230,3471,16830,3521,4171,5420,7010,24891,3797,4959,2551,6410,4359,6521,5707,14934,8175,2498,3550,5701]

In [66]:
energy2012List = [2118,8507,3698,7987,4762,3819,4057,6305,6039,6689,15687,7344,7270,5511,3919,53203,5665,5398,3588,3608,14696,3626,4761,5416,6871,23658,3899,4736,2604,6617,4387,6778,5573,14290,7886,2794,3641,5452]

In [71]:
namesSeries = pd.Series(nameList)
namesSeries

0            Albania
1            Austria
2            Belarus
3            Belgium
4           Bulgaria
5            Croatia
6             Cyprus
7     Czech Republic
8            Denmark
9            Estonia
10           Finland
11            France
12           Germany
13            Greece
14           Hungary
15           Iceland
16           Ireland
17             Italy
18            Latvia
19         Lithuania
20        Luxembourg
21         Macedonia
22             Malta
23        Montenegro
24       Netherlands
25            Norway
26            Poland
27          Portugal
28           Romania
29            Russia
30            Serbia
31          Slovenia
32             Spain
33            Sweden
34       Switzerland
35     UnitedKingdom
36            Turkey
37           Ukraine
dtype: object

In [87]:
energy2010Series = pd.Series(energy2010List)
energy2010Series

0      1947
1      8347
2      3564
3      8369
4      4560
5      3814
6      4623
7      6348
8      6328
9      6506
10    16483
11     7736
12     7264
13     5318
14     3876
15    51440
16     5911
17     5494
18     3230
19     3471
20    16830
21     3521
22     4171
23     5420
24     7010
25    24891
26     3797
27     4959
28     2551
29     6410
30     4359
31     6521
32     5707
33    14934
34     8175
35     2498
36     3550
37     5701
dtype: int64

In [75]:
energy2012Series = pd.Series(energy2012List)
energy2012Series

0      2118
1      8507
2      3698
3      7987
4      4762
5      3819
6      4057
7      6305
8      6039
9      6689
10    15687
11     7344
12     7270
13     5511
14     3919
15    53203
16     5665
17     5398
18     3588
19     3608
20    14696
21     3626
22     4761
23     5416
24     6871
25    23658
26     3899
27     4736
28     2604
29     6617
30     4387
31     6778
32     5573
33    14290
34     7886
35     2794
36     3641
37     5452
dtype: int64

In [80]:
mean2010 = energy2010Series.mean()
mean2010

7779.8421052631575

In [81]:
mean2012 = energy2012Series.mean()
mean2012

7706.815789473684

In [93]:
filterAboveMean2010 = energy2010Series > mean2010
#filterAboveMean2010

In [90]:
filterAboveMean2012 = energy2012Series > mean2012
#filterAboveMean2012

In [95]:
namesSeries.where(filterAboveMean2010 & filterAboveMean2012).dropna()

1         Austria
3         Belgium
10        Finland
15        Iceland
20     Luxembourg
25         Norway
33         Sweden
34    Switzerland
dtype: object

In [96]:
filterBelowMean2010 = energy2010Series < mean2010

In [98]:
namesSeries.where(filterBelowMean2010 & filterAboveMean2012).dropna()

Series([], dtype: object)