In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math as math

In [3]:
pd.read_csv('./data/pokemon.csv')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [4]:
obj = pd.read_csv('./data/pokemon.csv')
type(obj)

pandas.core.frame.DataFrame

In [5]:
pd.read_csv('./data/pokemon.csv', usecols=['Name'])

                      Name
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
..                     ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion

[800 rows x 1 columns]

In [7]:
obj = pd.read_csv('./data/pokemon.csv', usecols=['Name'])
type(obj)

pandas.core.frame.DataFrame

In [8]:
pd.read_csv('./data/pokemon.csv', usecols=['Name'], squeeze=True)

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [9]:
obj = pd.read_csv('./data/pokemon.csv', usecols=['Name'], squeeze=True)
type(obj)

pandas.core.series.Series

In [14]:
pokFrame = pd.read_clipboard(sep=',')
pokFrame.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [15]:
nameSeries = pokFrame['Name']

In [16]:
nameSeries.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Name, dtype: object

In [17]:
nameSeries.tail(10)

790                 Noibat
791                Noivern
792                Xerneas
793                Yveltal
794       Zygarde50% Forme
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion
Name: Name, dtype: object

## Exercise 7

In [20]:
stack = pd.read_csv('./data/StackOverflowDeveloperSurvey.csv')
stack.columns

Index(['Respondent', 'Professional', 'ProgramHobby', 'Country', 'University',
       'EmploymentStatus', 'FormalEducation', 'MajorUndergrad', 'HomeRemote',
       'CompanySize',
       ...
       'StackOverflowMakeMoney', 'Gender', 'HighestEducationParents', 'Race',
       'SurveyLong', 'QuestionsInteresting', 'QuestionsConfusing',
       'InterestedAnswers', 'Salary', 'ExpectedSalary'],
      dtype='object', length=154)

In [24]:
education = pd.read_csv('./data/StackOverflowDeveloperSurvey.csv', usecols=['FormalEducation'])
education.head()

                                     FormalEducation
0                                   Secondary school
1  Some college/university study without earning ...
2                                  Bachelor's degree
3                                    Doctoral degree
4                                    Master's degree

In [25]:
education = pd.read_csv('./data/StackOverflowDeveloperSurvey.csv', usecols=['FormalEducation'], squeeze=True)
education.head()

0                                     Secondary school
1    Some college/university study without earning ...
2                                    Bachelor's degree
3                                      Doctoral degree
4                                      Master's degree
Name: FormalEducation, dtype: object

In [26]:
countrySeries = stack['Country']

In [27]:
type(countrySeries)

pandas.core.series.Series

In [28]:
filterOnlyUSA = countrySeries == 'United States'

In [29]:
filterOnlyUSA.head()

0     True
1    False
2    False
3     True
4    False
Name: Country, dtype: bool

In [30]:
countrySeries.where(filterOnlyUSA).dropna().head(10)

0     United States
3     United States
6     United States
10    United States
15    United States
17    United States
18    United States
25    United States
27    United States
29    United States
Name: Country, dtype: object