In [1]:
import pandas as pd
import random as rd

In [2]:
python_express = {'PYT001': 'Airbus 320', 'PYT002': 'Boeing 737', 'PYT003': 'Airbus 321'}

In [6]:
python_express.values()

dict_values(['Airbus 320', 'Boeing 737', 'Airbus 321'])

In [7]:
aircrafts = pd.Series(python_express.values(), python_express.keys())

In [8]:
flightsList = []

In [10]:
for i in range(100):
    flightsList.append(rd.choice(aircrafts.index))

In [11]:
flightsList

['PYT001',
 'PYT002',
 'PYT002',
 'PYT001',
 'PYT001',
 'PYT003',
 'PYT002',
 'PYT001',
 'PYT003',
 'PYT003',
 'PYT002',
 'PYT001',
 'PYT002',
 'PYT001',
 'PYT003',
 'PYT001',
 'PYT002',
 'PYT003',
 'PYT001',
 'PYT003',
 'PYT002',
 'PYT003',
 'PYT002',
 'PYT003',
 'PYT002',
 'PYT001',
 'PYT002',
 'PYT003',
 'PYT002',
 'PYT003',
 'PYT002',
 'PYT002',
 'PYT003',
 'PYT003',
 'PYT002',
 'PYT003',
 'PYT001',
 'PYT001',
 'PYT003',
 'PYT002',
 'PYT003',
 'PYT003',
 'PYT002',
 'PYT001',
 'PYT001',
 'PYT001',
 'PYT003',
 'PYT002',
 'PYT003',
 'PYT003',
 'PYT003',
 'PYT002',
 'PYT003',
 'PYT001',
 'PYT002',
 'PYT003',
 'PYT003',
 'PYT001',
 'PYT003',
 'PYT003',
 'PYT002',
 'PYT003',
 'PYT003',
 'PYT001',
 'PYT002',
 'PYT001',
 'PYT003',
 'PYT002',
 'PYT001',
 'PYT002',
 'PYT002',
 'PYT002',
 'PYT002',
 'PYT003',
 'PYT003',
 'PYT003',
 'PYT001',
 'PYT002',
 'PYT002',
 'PYT001',
 'PYT002',
 'PYT002',
 'PYT003',
 'PYT002',
 'PYT003',
 'PYT002',
 'PYT002',
 'PYT001',
 'PYT002',
 'PYT002',
 'PYT001',
 'PYT001',
 'PYT002',
 'PYT003',
 'PYT003',
 'PYT003',
 'PYT001',
 'PYT002',
 'PYT002',
 'PYT002']

In [12]:
flights = pd.Series(flightsList)

In [13]:
flights

0     PYT001
1     PYT002
2     PYT002
3     PYT001
4     PYT001
       ...
95    PYT003
96    PYT001
97    PYT002
98    PYT002
99    PYT002
Length: 100, dtype: object

In [14]:
flights_aircrafts = flights.map(aircrafts)

In [15]:
flights_aircrafts

0     Airbus 320
1     Boeing 737
2     Boeing 737
3     Airbus 320
4     Airbus 320
         ...
95    Airbus 321
96    Airbus 320
97    Boeing 737
98    Boeing 737
99    Boeing 737
Length: 100, dtype: object