In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math as amth

In [4]:
pok = pd.read_csv('./data/pokemon.csv', usecols=['Name'], squeeze=True)

In [5]:
pok.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [7]:
pok.sort_values().head()

510                  Abomasnow
511    AbomasnowMega Abomasnow
68                        Abra
392                      Absol
393            AbsolMega Absol
Name: Name, dtype: object

In [8]:
pok.sort_values(ascending=False).head()

794    Zygarde50% Forme
695            Zweilous
46                Zubat
631               Zorua
632             Zoroark
Name: Name, dtype: object

In [9]:
pok.sort_values(ascending=False, inplace=True)

In [10]:
pok

794           Zygarde50% Forme
695                   Zweilous
46                       Zubat
631                      Zorua
632                    Zoroark
                ...
393            AbsolMega Absol
392                      Absol
68                        Abra
511    AbomasnowMega Abomasnow
510                  Abomasnow
Name: Name, Length: 800, dtype: object

In [11]:
pok.sort_index().head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

## Exercise 10

In [16]:
pok.sort_index(inplace=True)

In [17]:
countries = pd.read_csv('./data/StackOverflowDeveloperSurvey.csv', usecols=['Country'], squeeze=True).dropna()
countries.head()

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
Name: Country, dtype: object

In [21]:
'Spain' in countries
'Spain' in countries.values
'Wonderland' in countries.values

False